.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.square {
  background-color: #04AA6D; /* Green */
  color: white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 50px;
  text-align: center;
  width: 50px;
}

.square:hover {
  background-color: #07e392;
  transition: 0.7s;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game-board {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
.status {
  
}